* {
    box-sizing: border-box;
}

html {
    background:#CCC;
}

body {
    position: relative;
    color:#333;
    margin:0 auto;
    max-width:900px; 
    background-color: #EEE;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    box-shadow: 0px 0px 12px 0px #333;
    padding: 6px 12px;
}
